venv
.idea
client_secret.json
Icon
server-permissions.txt
auth.txt
*.log
message_export.csv
gapi_results_messages.csv
*.xlsx
*.html
scratch.py
email_body.pk
citations.log
__pycache__

gmail-credentials.json

.coverage

local/
